<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <!--부트 스트랩 적용-->
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <!--css 적용-->
  <link rel="stylesheet" type="text/css" href="../css/members/member_register_style.css" th:href="@{/css/members/member_register_style.css}">
</head>

<body>
<div class="container_main">
  <header style="position: relative;"> <!--네비게이션바-->
    <div class="px-3 py-2 bg-dark text-white" style="height: 130px;">
      <div class="align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li style="position: relative; left: -28%;">
            <img src="/image/main_img/logo2.PNG" width="234px" height="120px">
          </li>

          <li style="position: relative; left: -20%;">
            <img src="/image/main_img/home_icon.PNG" width="65px" height="57px"
                 style="margin-left: 5px; margin-top: 10px;">
            <a href="/" class="navbar-brand"><h4>메인홈</h4></a>
          </li>

          <li style="position: relative; left: -12%;">
            <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                 style="margin-left: 27px; margin-top: 20px;">
            <a href="/boards/freeBoard" class="nav-link text-white" style="font-size: 16px;">
              <span>자유게시판</span>
            </a>
          </li>

          <li style="position: relative; left: -9%;">
            <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                 style="margin-left: 30px; margin-top: 20px;">
            <a href="/boards/recommendBoard" class="nav-link text-white" style="font-size: 16px;">
              <span>추천게시판</span>
            </a>
          </li>

          <li style="position: relative; left: -6%;">
            <img src="/image/main_img/muckstar_icon.PNG" width="40px" height="40px"
                 style="margin-left: 35px; margin-top: 20px;">
            <a href="/boards/muckstarBoard" class="nav-link text-white" style="font-size: 16px;">
              <span>먹스타그램</span>
            </a>
          </li>

          <li style="position: relative; left: -3%;">
            <img src="/image/main_img/menu_recommend_icon.PNG" width="50px" height="40px"
                 style="margin-left: 27px; margin-top: 20px;">
            <a href="/menu" class="nav-link text-white" style="font-size: 16px;">
              <span>메뉴추천</span>
            </a>
          </li>

          <li style="position: relative;">
            <img src="/image/main_img/chat_icon.PNG" width="50px" height="40px"
                 style="margin-left: 20px; margin-top: 20px;">
            <a href="/chat" class="nav-link text-white" style="font-size: 16px;">
              <span>채팅방</span>
            </a>
          </li>

          <li th:if="${session.loginMember != null and session.loginMember.role eq 'admin'}"
              style="position: relative; left: 5%;">
            <img src="/image/main_img/admin_icon.PNG" width="45px" height="40px"
                 style="margin-left: 40px; margin-top: 20px;">
            <a href="/admin/members" class="nav-link text-white" style="font-size: 16px;">
              <span>관리자 페이지</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </header>

  <section style="position: relative; width: 250px;"> <!--세션 바-->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
         style="width: 290px; height: 1017px;">
      <hr>
      <span style="text-align: center; font-size: 20px;" id="userName"></span>
      <h4 style="margin-left: 13%;">FOOD WORLD에</h4>
      <h4 style="margin-left: 5%;">오신 것을 환영합니다!</h4>
      <hr>
      <img src="/image/main_img/logo1.PNG" class="logo" style="width: 240px; display: inline;" id="logo">

      <ul style="position:absolute; width: 275px; top: 35%; left: -5%; list-style-type: none;">
        <hr>
        <li class="nav-item">
          <a href="/boards/freeBoard" class="nav-link text-white" style="margin-left: 23%;">
            &nbsp;자유게시판
          </a>
        </li>
        <hr>
        <li>
          <a href="/boards/recommendBoard" class="nav-link text-white" style="margin-left: 25%;">
            추천게시판
          </a>
        </li>
        <hr>
        <li>
          <a href="/boards/muckstarBoard" class="nav-link text-white" style="margin-left: 25%;">
            먹스타그램
          </a>
        </li>
        <hr>
        <li>
          <a href="/menu" class="nav-link text-white" style="margin-left: 27%;">
            메뉴추천
          </a>
        </li>
        <hr>
        <li>
          <a href="/chat" class="nav-link text-white" style="margin-left: 29%;">
            채팅방
          </a>
        </li>
        <hr>
      </ul>
    </div>
  </section>

  <aside style="float: left; width: 1000px; position: relative; height: 925px;">
  <div class="card" style="left: 30%;"> <!--회원가입 폼-->
    <br>
    <br>
    <h4 class="tm">회원가입</h4>
    <br>
    <div class="container mt-3">
      <form action="" th:action th:object="${joinForm}" method="post">
        <div class="mb-3">
          <span style="display: flex;">
            <input type="text" id="member-name" th:field="*{name}" class="form-control" placeholder="닉네임(3자리 이상)" oninput="clearBtnByName();">
            <button class="btn btn-primary" type="button" onclick="check_Name();"
                    style="width: 150px;">중복확인</button>
          </span>
          <div class="field-error" style="color: red;" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
          <span style="display: flex;">
            <input type="text" id="member-loginId" th:field="*{loginId}" class="form-control" placeholder="아이디(3자리 이상)" oninput="clearBtnByLoginId();">
            <button class="btn btn-primary" type="button" onclick="check_LoginId();"
                    style="width: 150px;">중복확인</button>
          </span>
          <div class="field-error" style="color: red;" th:errors="*{loginId}"></div>
        </div>
        <div class="mb-3">
          <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호(3자리 이상)"
                 th:errorclass="field-error" style="width: 350px;">
          <div class="field-error" style="color: red;" th:errors="*{password}"></div>
        </div>

        <br>

        <div class="col">
          <button class="w-100 btn btn-primary" id="register-btn" type="submit" disabled>닉네임/아이디 중복확인을 해주세요!</button>
          <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='index.html'"
                  th:onclick="|location.href='@{/}'|"
                  type="button">취소
          </button>
        </div>
      </form>
    </div>
  </div>
</aside>

</div>
</body>

<!--bootstrapjs-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
</script>

<!--jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

<script>
let checkedName = false;
let checkedLoginId = false;

function check_Name() {
    let memberName = $("#member-name").val()

    $.ajax({
		url: '/members/api/checkName',
		type: "GET",
		dataType: "json",
		data: {memberName, getMemberId: 0},
		success: function(result) {
		    console.log(JSON.stringify(result))

		    if (result === 1) {
		    	alert("중복되는 닉네임입니다.")

		        checkedName = false;
		        $("#register-btn").text("닉네임/아이디 중복확인을 해주세요!");
		        $("#register-btn").attr("disabled", true);
		    }
		    else if (result === 2) {
		        alert("빈 공백이 올 수 없습니다.")

		        checkedName = false;
		        $("#register-btn").text("닉네임/아이디 중복확인을 해주세요!");
		        $("#register-btn").attr("disabled", true);
		    }
		    else if (result === 3) {
		        alert("최소 2글자이상 최대 7글자입니다.")

		        checkedName = false;
		        $("#register-btn").text("닉네임/아이디 중복확인을 해주세요!");
		        $("#register-btn").attr("disabled", true);
		    }
		    else {
		        alert("사용 가능한 닉네임입니다.")

		        checkedName = true;
		        if (checkedName === true && checkedLoginId === true) {
		        	$("#register-btn").text("가입하기");
		            $("#register-btn").attr("disabled", false);
		        }
		    }
	    },
	    error: function (error) {
            console.log("오류", error);
        }
	});
}

function check_LoginId() {
    let memberLoginId = $("#member-loginId").val()

    $.ajax({
		url: '/members/api/checkLoginId',
		type: "GET",
		dataType: "json",
		data: {memberLoginId, getMemberId: 0},
		success: function(result) {
		    console.log(JSON.stringify(result))

		    if (result === 1) {
		    	alert("중복되는 아이디입니다.")

		    	checkedLoginId = false;
		        $("#register-btn").text("닉네임/아이디 중복확인을 해주세요!");
		        $("#register-btn").attr("disabled", true);
		    }
		    else if (result === 2) {
		        alert("빈 공백이 올 수 없습니다.")

		    	checkedLoginId = false;
		        $("#register-btn").text("닉네임/아이디 중복확인을 해주세요!");
		        $("#register-btn").attr("disabled", true);
		    }
		    else if (result === 3) {
		        alert("최소 3글자이상 최대 10글자입니다.")

		    	checkedLoginId = false;
		        $("#register-btn").text("닉네임/아이디 중복확인을 해주세요!");
		        $("#register-btn").attr("disabled", true);
		    }
		    else {
		        alert("사용가능한 아이디입니다.")
		        checkedLoginId = true;

		        if (checkedName === true && checkedLoginId === true) {
		            $("#register-btn").text("가입하기");
		            $("#register-btn").attr("disabled", false);
		        }
		    }
	    },
	    error: function (error) {
            console.log("오류", error);
        }
	});
}

function clearBtnByName() {
    checkedName = false;
	$("#register-btn").text("닉네임/아이디 중복확인을 해주세요!");
	$("#register-btn").attr("disabled", true);
}

function clearBtnByLoginId() {
    checkedLoginId = false;
	$("#register-btn").text("닉네임/아이디 중복확인을 해주세요!");
	$("#register-btn").attr("disabled", true);
}
</script>

</html>