<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>먹스타그램 메인 페이지</title>
  <!--부트 스트랩 적용-->
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <!--css 적용-->
  <link rel="stylesheet" type="text/css" href="../css/boards/board/muckstar_main_style.css" th:href="@{/css/boards/board/muckstar_main_style.css}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<header style="position: relative; width: 1900px;"> <!--네비게이션바-->
  <div class="px-3 py-2 bg-dark text-white" style="height: 100px;">
    <div class="align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li style="position: relative; left: -25%;">
          <img src="/image/main_img/logo2.PNG" width="170px" height="90px">
        </li>

        <li style="position: relative; left: -20%;">
          <img src="/image/main_img/muckstar_icon.PNG" width="55px" height="55px"
               style="margin-left: 6px; margin-top: 10px;">
        </li>

        <li style="position: relative; left: -19%; margin-top: 25px;">
          <a href="/boards/muckstarBoard" class="navbar-brand"><h4>먹스타그램</h4></a>
        </li>

        <li style="position: relative; left: -12%;">
          <img src="/image/main_img/home_icon.PNG" width="45px" height="40px"
               style="margin-left: 10px; margin-top: 10px;">
          <a href="/" class="nav-link text-white" style="font-size: 16px;">
            <span>메인</span>
          </a>
        </li>

        <li style="position: relative; left: -8.5%;">
          <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
               style="margin-left: 35px; margin-top: 10px;">
          <a href="/boards/freeBoard" class="nav-link text-white" style="font-size: 16px;">
            <span>자유게시판</span>
          </a>
        </li>

        <li style="position: relative; left: -6%;">
          <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
               style="margin-left: 35px; margin-top: 10px;">
          <a href="/boards/recommendBoard" class="nav-link text-white" style="font-size: 16px;">
            <span>추천게시판</span>
          </a>
        </li>

        <li style="position: relative; left: -3%;">
          <img src="/image/main_img/menu_recommend_icon.PNG" width="50px" height="40px"
               style="margin-left: 23px; margin-top: 10px;">
          <a href="/menu" class="nav-link text-white" style="font-size: 16px;">
            <span>메뉴추천</span>
          </a>
        </li>

        <li style="position: relative;">
          <img src="/image/main_img/chat_icon.PNG" width="50px" height="40px"
               style="margin-left: 18px; margin-top: 10px;">
          <a href="/chat" class="nav-link text-white" style="font-size: 16px;">
            <span>채팅방</span>
          </a>
        </li>

        <li>
          <h5 th:if="${session.loginMember != null}"
              th:text="${session.loginMember.name}+ '님 접속중'"
              id="userName" style="font-size: 13px; margin-top: 20px;"></h5>

          <br/>

          <form th:action="@{/members/logout}" method="post">
            <button th:if="${session.loginMember != null}"
                    type="submit" class="btn btn-primary" id="logout"
                    style="width: 95px; height: 35px; position :absolute; top: 56%;"
                    th:onclick="@{/members/logout}">로그아웃
            </button>
          </form>

          <button th:if="${session.loginMember == null}"
                  type="submit" class="btn btn-primary"
                  style="width: 80px; height: 35px; position :absolute; top: 56%;" id="login"
                  th:onclick="|location.href='@{/members/login}'|">로그인
          </button>
        </li>
      </ul>

    </div>
  </div>
</header>

<section style="position: relative; width: 1900px; height: 672px;">
  <!--검색-->
  <div class="row" style="width: 1000px; height: 30px; margin-left: 650px; margin-top: 50px;">
    <div class="col-md-3">
      <input type="text" id="writerSearchKeyword" class="form-control" placeholder="작성자 닉네임 정확히 기재"/>
    </div>

    <div class="col-md-1">
      <button class="btn btn-secondary" id="searchButton">검색</button>
    </div>

    <div class="col-md-3">
      <button class="btn btn-danger" id="write"
              th:onclick="|location.href='@{/boards/muckstarBoard/upload}'|"
              type="button">글 작성
      </button>
    </div>
  </div>

  <span class="cursorBoardId" th:id="${firstCursorBoardId}" style="display: none;"></span>
  <div class="muckstarList" id="mucstarList"
       style="position: absolute; width: 1146px; height: 832px;">
  </div>
</section>


<!--bootstrapjs-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
</script>

<!--jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

<script th:inline="javascript">
    var userId = [[${session.loginMember?.id}]] || 'GuestId';
</script>

<script type="text/javascript" th:src="@{/js/muckstar.js}"></script>

</body>
</html>