<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--부트 스트랩 적용-->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <!--css 적용-->
    <link rel="stylesheet" type="text/css" href="../css/boards/board/board_upload_style.css" th:href="@{/css/boards/board/board_upload_style.css}">
</head>

<body>
<header style="position: relative;">
  <img src="/image/main_img/logo2.PNG"
       class="logo" style="position: absolute; z-index: 3; width: 170px; height: 90px; left: 2.5%; top: 10%;" id = "logo2">

  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img src="/image/main_img/muckstar_icon.PNG" width="50px" height="50px">
        <a href="/boards/muckstarBoard" class="navbar-brand"><h4 class="thema">&nbsp;&nbsp;먹스타그램</h4></a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <img src="/image/main_img/home_icon.PNG" width="45px" height="40px"
                 style="margin-left: 151px; margin-top: 10px;">
            <a href="/" class="nav-link text-white">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메인
            </a>
          </li>
          <li>
            <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                 style="margin-left: 102px; margin-top: 10px;">
            <a href="/boards/freeBoard" class="nav-link text-white">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;자유게시판
            </a>
          </li>
          <li>
            <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                 style="margin-left: 90px; margin-top: 10px;">
            <a href="/boards/recommendBoard" class="nav-link text-white">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;추천게시판
            </a>
          </li>
          <li>
            <img src="/image/main_img/menu_recommend_icon.PNG" width="50px" height="40px"
                 style="margin-left: 75px; margin-top: 10px;">
            <a href="/menu" class="nav-link text-white">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메뉴추천
            </a>
          </li>
          <li>
            <img src="/image/main_img/chat_icon.PNG" width="50px" height="40px"
                 style="margin-left: 65px; margin-top: 10px;">
            <a href="/chat" class="nav-link text-white">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;채팅방&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
          </li>

          <li>
            <h5 th:if="${session.loginMember != null}"
                th:text="${session.loginMember.name}+ '님 접속중'"
                id="userName" style="font-size : 13px; margin-top: 20px;"></h5>

            <br/>

            <form th:action="@{/members/logout}" method="post">
              <button th:if="${session.loginMember != null}"
                      type="submit" class="btn btn-primary" id="logout"
                      style="width: 90px; height: 35px; position :absolute; top: 56%;"
                      th:onclick="@{/members/logout}">로그아웃
              </button>
            </form>

            <button th:if="${session.loginMember == null}"
                    type="submit" class="btn btn-primary"
                    style="width: 80px; height: 35px; position :absolute; top: 56%;" id="login"
                    th:onclick="|location.href='@{/members/login}'|">로그인
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<section style="position: relative; width: 90vw; height: 30vh;">
  <h2 id="categoryMuckstarBoard" style="position: absolute; left: 45%; top: 10%;"><b>먹스타그램 글 작성하기</b></h2>

  <form th:action th:object="${uploadForm}" method="post" enctype="multipart/form-data">
    <div class="container mt-3" style="position: absolute; top: 20%; width: 50vw; left: 25%">
      <div class="field-error" style="color: red;" th:errors="*{boardType}"></div>

      <div>
        <div class="form-group col-sm-5">
          <select th:field="*{boardType}" class="form-select">
            <option th:value="먹스타그램">먹스타그램</option>
          </select>
        </div>

        <br>

        <div class="form-group col-sm-2">
          <select th:field="*{subType}" class="form-select">
            <option th:value="'말머리 ' + '선택'">말머리 선택</option>
            <option th:value="'리뷰 ' + '이벤트'">리뷰 이벤트</option>
          </select>
        </div>
      </div>

      <div class="field-error" style="color: red;" th:errors="*{content}"></div>
      <textarea id="content" class="form-control mt-2" name="content" th:field="*{content}" placeholder="내용을 입력해주세요"
                rows="20"
                th:errorclass="field-error"></textarea>

      <label th:for="img">이미지 선택</label>
      <input class="form-control mt-2" type="file" name="imageFiles" multiple> <!--name을 컨트롤러의 매개변수 이름과 동일해야한다/-->

      <button class="btn btn-danger mt-3" type="submit">등록하기</button>
      <button class="btn btn-danger mt-3"
              th:onclick="|location.href='@{/boards/muckstarBoard}'|"
              type="button">취소
      </button>
    </div>
  </form>
</section>


</body>
</html>