<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--부트 스트랩 적용-->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!--css 적용-->
    <link rel="stylesheet" type="text/css" href="../css/boards/board/board_main_style.css" th:href="@{/board_main_style.css}">
</head>

<!--메시지 알림-->
<!--<script th:inline="javascript">-->

<!--    var message = [[${message}]];-->
<!--    alert(message);-->

<!--    location.replace([[${redirectUrl}]]);-->

<!--</script>-->

<body>
<header style="position: relative; width: 1900px;"> <!--네비게이션바-->
    <div class="px-3 py-2 bg-dark text-white" style="height: 100px;">
        <div class="align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li style="position: relative; left: -25%;">
                    <img src="/image/main_img/logo2.PNG" width="170px" height="90px">
                </li>

                <li style="position: relative; left: -20%;">
                    <img src="/image/main_img/write_icon.PNG" width="65px" height="57px"
                         style="margin-left: 6px; margin-top: 10px;">
                </li>

                <li style="position: relative; left: -19%; margin-top: 25px;">
                    <a href="/boards/recommendBoard" class="navbar-brand"><h4>추천게시판</h4></a>
                </li>

                <li style="position: relative; left: -12%;">
                    <img src="/image/main_img/home_icon.PNG" width="45px" height="40px"
                         style="margin-left: 10px; margin-top: 10px;">
                    <a href="/" class="nav-link text-white" style="font-size: 16px;">
                        <span>메인</span>
                    </a>
                </li>

                <li style="position: relative; left: -8.5%;">
                    <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                         style="margin-left: 27px; margin-top: 10px;">
                    <a href="/boards/freeBoard" class="nav-link text-white" style="font-size: 16px;">
                        <span>자유게시판</span>
                    </a>
                </li>

                <li style="position: relative; left: -6%;">
                    <img src="/image/main_img/muckstar_icon.PNG" width="40px" height="40px"
                         style="margin-left: 35px; margin-top: 10px;">
                    <a href="/boards/muckstarBoard" class="nav-link text-white" style="font-size: 16px;">
                        <span>먹스타그램</span>
                    </a>
                </li>

                <li style="position: relative; left: -3%;">
                    <img src="/image/main_img/menu_recommend_icon.PNG" width="50px" height="40px"
                         style="margin-left: 27px; margin-top: 10px;">
                    <a href="/menu" class="nav-link text-white" style="font-size: 16px;">
                        <span>메뉴추천</span>
                    </a>
                </li>

                <li style="position: relative;">
                    <img src="/image/main_img/chat_icon.PNG" width="50px" height="40px"
                         style="margin-left: 20px; margin-top: 10px;">
                    <a href="/chat" class="nav-link text-white" style="font-size: 16px;">
                        <span>채팅방</span>
                    </a>
                </li>

                <li>
                    <h5 th:if="${session.loginMember != null}"
                        th:text="${session.loginMember.name}+ '님 접속중'"
                        id="userName" style="font-size: 13px; margin-top: 20px;"></h5>

                    <br/>

                    <form th:action="@{/members/logout}" method="post">
                        <button th:if="${session.loginMember != null}"
                                type="submit" class="btn btn-primary" id="logout"
                                style="width: 95px; height: 35px; position :absolute; top: 56%;"
                                th:onclick="@{/members/logout}">로그아웃
                        </button>
                    </form>

                    <button th:if="${session.loginMember == null}"
                            type="submit" class="btn btn-primary"
                            style="width: 80px; height: 35px; position :absolute; top: 56%;" id="login"
                            th:onclick="|location.href='@{/members/login}'|">로그인
                    </button>
                </li>
            </ul>

        </div>
    </div>
</header>

<div style="position: relative; width: 1495px; height: 740px;">
    <!--카테고리 분류-->
    <div class="form-group col-sm-2"
         style="position: absolute; margin-top: 35px; margin-left: 50px;">
        <form id="category-form" method="get" action="">
            <select id="category-choice" class="form-control" onchange="categoryHandleChange()"
                    name="selectedCategory">
                <option value="">카테고리 선택</option>
                <option value="식당">식당</option>
                <option value="메뉴">메뉴</option>
            </select>

            <select id="restaurant-area" class="form-control" onchange="areaHandleChange()"
                    name="selectedArea"
                    style="display: none;">
                <option value="">지역 선택</option>
                <option value="서울">서울</option>
                <option value="부산">부산</option>
                <option value="대구">대구</option>
                <option value="인천">인천</option>
                <option value="광주">광주</option>
                <option value="대전">대전</option>
                <option value="울산">울산</option>
                <option value="세종">세종</option>
                <option value="경기">경기</option>
                <option value="강원">강원</option>
                <option value="충북">충북</option>
                <option value="충남">충남</option>
                <option value="전북">전북</option>
                <option value="경북">경북</option>
                <option value="경남">경남</option>
                <option value="제주">제주</option>
            </select>

            <select id="menu-choice" class="form-control" onchange="menuHandleChange()"
                    name="selectedMenu"
                    style="display: none;">
                <option value="">메뉴 선택</option>
                <option value="한식">한식</option>
                <option value="중식">중식</option>
                <option value="일식/돈까스">일식/돈까스</option>
                <option value="회/초밥">회/초밥</option>
                <option value="치킨">치킨</option>
                <option value="피자">피자</option>
                <option value="족발/보쌈">족발/보쌈</option>
                <option value="햄버거">햄버거</option>
                <option value="샌드위치">샌드위치</option>
                <option value="분식">분식</option>
                <option value="찜/탕">찜/탕</option>
                <option value="샐러드">샐러드</option>
                <option value="도시락/죽">도시락/죽</option>
                <option value="아시안">아시안</option>
                <option value="기타">기타</option>
            </select>
        </form>
    </div>


    <!--검색-->
    <div style="margin-left: 745px; margin-top: 15px;">
        <form th:action="@{/boards/recommendBoard}" method="get">
            <div class="row" style="">
                <div class="col-md-1" style="width: 150px;">
                    <input type="text" name="writerSearchKeyword" class="form-control" placeholder="글쓴이" th:value="${writerSearchKeyword}"/>
                </div>

                <div class="col-md-2" style="width: 300px;">
                    <input type="text" name="titleSearchKeyword" class="form-control" placeholder="제목" th:value="*{titleSearchKeyword}"/>
                </div>

                <div class="col-md-1" style="width: 100px;">
                    <button type="submit" class="btn btn-secondary">검색</button>
                </div>

                <div class="col-md-1" style="width: 150px;">
                    <button class="btn btn-danger" id="write"
                            th:onclick="|location.href='@{/boards/recommendBoard/upload}'|"
                            type="button">글 작성
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--게시판 테이블-->
    <table class="table" style="position: absolute; margin-top: 35px; width: 950px; height: 511px; margin-left: 430px;">
        <thead class="table-dark">
        <tr>
            <th class="col-md-1" style="text-align: center; margin: 0 auto;">번호</th>
            <th class="col-md-6" style="text-align: center; margin: 0 auto;">제목</th>
            <th class="col-md-1" style="text-align: center; margin: 0 auto;">글쓴이</th>
            <th class="col-md-2" style="text-align: center; margin: 0 auto;">날짜</th>
            <th class="col-md-1" style="text-align: center; margin: 0 auto;">조회수</th>
            <th class="col-md-1" style="text-align: center; margin: 0 auto;">좋아요</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="board : ${boards}">
            <td class="col-md-1" style="text-align: center; margin: 0 auto;"
                th:text="${board.id}"></td>

            <td class="col-md-6" style="text-decoration-line: none; width: 400px;">
                <a th:if="${not#strings.equals(board.subType, '말머리 선택')}"
                   th:href="@{|/boards/recommendBoard/${board.id}|}" th:text="|[${board.subType}]|"
                   style="color: black; text-decoration-line: none; display: inline-block; overflow: hidden;"></a>

                <a th:href="@{|/boards/recommendBoard/${board.id}|}" th:text="|${board.title}|"
                   style="color: black; text-decoration-line: none; display: inline-block; max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></a>

                <span th:if="${board.commentCount != 0}" style="color: red; text-decoration-line: none; display: inline-block; overflow: hidden;"
                      th:href="@{|/boards/freeBoard/${board.id}|}" th:text="|[${board.commentCount}]|"></span>
            </td>

            <td class="col-md-1" style="text-align: center; margin: 0 auto;">
                <a th:href="@{|/members/profile/${board.member.id}|}" style="color: black; text-decoration-line: none;">
                    <th:block th:text="${board.writer}"/>
                </a>
            </td>

            <td class="col-md-2"
                th:if="${#temporals.day(board.createdDate)} == ${#temporals.day(localDateTime)}"
                style="text-align: center; margin: 0 auto;"
                th:text="${#temporals.format(board.createdDate, 'HH:mm')}"></td>
            <td class="col-md-2"
                th:if="${#temporals.day(board.createdDate)} != ${#temporals.day(localDateTime)}"
                style="text-align: center; margin: 0 auto;"
                th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></td>

            <td class="col-md-1" style="text-align: center; margin: 0 auto;"
                th:text="${board.count}">조회수
            </td>
            <td class="col-md-1" style="text-align: center; margin: 0 auto;"
                th:text="${board.likeCount}">좋아요
            </td>
        </tr>
        </tbody>
    </table>

    <!--페이지-->
    <nav aria-label="Page navigation example" style="position: absolute; margin-top: 560px; margin-left: 770px;">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!hasPrev} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/boards/recommendBoard(page=${boards.pageable.pageNumber - 1}, writerSearchKeyword=${param.writerSearchKeyword}, titleSearchKeyword=${param.titleSearchKeyword}, selectedCategory=${param.selectedCategory}, selectedArea=${param.selectedArea}, selectedMenu=${param.selectedMenu})}">이전</a>
            </li>

            <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link"
                   th:if="${page != nowPage} and ${page != 0}"
                   th:href="@{/boards/recommendBoard(page = ${page - 1}, writerSearchKeyword=${param.writerSearchKeyword}, titleSearchKeyword=${param.titleSearchKeyword}, selectedCategory=${param.selectedCategory}, selectedArea=${param.selectedArea}, selectedMenu=${param.selectedMenu})}"
                   th:text="${page}"></a>

                <strong class="page-link"
                        th:if="${page == nowPage}"
                        th:text="${page}" style="color: red;"></strong>
            </li>


            <li class="page-item" th:classappend="${!hasNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/boards/recommendBoard(page=${boards.pageable.pageNumber + 1}, writerSearchKeyword=${param.writerSearchKeyword}, titleSearchKeyword=${param.titleSearchKeyword}, selectedCategory=${param.selectedCategory}, selectedArea=${param.selectedArea}, selectedMenu=${param.selectedMenu})}">다음</a>
            </li>
        </ul>
    </nav>

    <!--아래 메뉴 추천 링크 사진-->
    <div style="position: absolute; margin-top: 680px; margin-left: 650px;">
        <a href="/menu">
            <img src="/image/food/circ.PNG" width="430px;" height="200px;">
        </a>
    </div>
</div>


<!--jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>


<script src="/js/recommendBoardCategory.js"></script>

<script th:inline="javascript">


</script>

</body>
</html>