<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--부트 스트랩 적용-->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <!--css 적용-->
    <link rel="stylesheet" type="text/css" href="../css/boards/board/board_upload_style.css" th:href="@{/css/boards/board/board_upload_style.css}">
</head>

<body>
<header style="position: relative; width: 1900px;">
    <img src="/image/main_img/logo2.PNG" class = "logo" style="position: absolute; z-index: 3; width: 170px; height: 90px; margin-left: 50px;" id = "logo2">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <img src="/image/main_img/write_icon.PNG" width="50px" height="50px" >
                <a href="/boards/freeBoard" class="navbar-brand"><h4 style="margin-left: 10px;">자유게시판</h4></a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li style="position: relative;">
                        <img src="/image/main_img/home_icon.PNG" width="45px" height="40px"
                             style="margin-left: 140px; margin-top: 10px;">
                        <a href="/" class="nav-link text-white" style="margin-left: 130px;">
                            메인
                        </a>
                    </li>
                    <li>
                        <img src="/image/main_img/write_icon.PNG" width="50px" height="40px"
                             style="margin-left: 102px; margin-top: 10px;">
                        <a href="/boards/recommendBoard" class="nav-link text-white" style="margin-left: 75px;">
                            추천게시판
                        </a>
                    </li>
                    <li>
                        <img src="/image/main_img/muckstar_icon.PNG" width = "40px" height="40px"
                             style="margin-left: 95px; margin-top: 10px;">
                        <a href="/boards/muckstarBoard" class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;먹스타그램
                        </a>
                    </li>
                    <li>
                        <img src="/image/main_img/menu_recommend_icon.PNG" width = "50px" height="40px" style="margin-left: 75px; margin-top: 10px;">
                        <a href="/menu" class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메뉴추천
                        </a>
                    </li>
                    <li>
                        <img src="/image/main_img/chat_icon.PNG" width = "50px" height="40px" style="margin-left: 65px; margin-top: 10px;">
                        <a href="/chat" class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;채팅방&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </li>

                    <li>
                        <h5 th:if="${session.loginMember != null}"
                            th:text="${session.loginMember.name}+ '님 접속중'"
                            id = "userName" style="font-size : 13px; margin-top: 20px;"></h5>

                        <br/>

                        <form th:action="@{/members/logout}" method="post">
                            <button th:if="${session.loginMember != null}"
                                    type="submit" class="btn btn-primary" id="logout"
                                    style="width: 90px; height: 35px; position :absolute; top: 56%;"
                                    th:onclick="@{/members/logout}">로그아웃
                            </button>
                        </form>

                        <button th:if="${session.loginMember == null}"
                                type="submit" class="btn btn-primary"
                                style="width: 80px; height: 35px; position :absolute; top: 56%;" id="login"
                                th:onclick="|location.href='@{/members/login}'|">로그인
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section style="position: relative; width: 1900px;">
    <h2 id="categoryFreeBoard" style="position: absolute; margin-left: 750px; margin-top: 30px;"><b>자유게시판 글 작성하기</b></h2>

    <form th:action th:object="${uploadForm}" method="post" enctype="multipart/form-data">
        <div class="container mt-3" style="position: absolute; top: 20%; width: 830px; margin-left: 450px;">
            <div class="field-error" style="color: red;" th:errors="*{boardType}"></div>
            <div>
                <div class="field-error" style="color: red;" th:errors="*{subType}"></div>
                <div class="form-group col-sm-2">
                    <select th:field="*{subType}" class="form-select">
                        <option value="">카테고리 선택</option>
                        <option th:value="사는얘기">사는얘기</option>
                        <option th:value="질문">질문</option>
                    </select>
                </div>
            </div>

            <div class="field-error" style="color: red;" th:errors="*{title}"></div>
            <input type="text" id="title" class="form-control mt-3" name="title" th:field="*{title}" placeholder="제목을 입력해주세요"
                   th:errorclass="field-error">

            <div class="field-error" style="color: red;" th:errors="*{content}"></div>
            <textarea id="content" class="form-control mt-2" name="content" th:field="*{content}" placeholder="내용을 입력해주세요"
                      rows="20"
                      th:errorclass="field-error"></textarea>

            <label th:for="attach">첨부파일 선택</label>
            <input class="form-control mt-2" type="file" name="attachFiles" multiple>
            <label th:for="img">이미지 선택</label>
            <input class="form-control mt-2" type="file" name="imageFiles" multiple> <!--name을 컨트롤러의 매개변수 이름과 동일해야한다/-->

<!--            <div class="form-group" id="file-list">-->
<!--                <a href="#this" onclick="addFile()">파일추가</a>-->
<!--                <div class="file-group">-->
<!--                    <input type="file" name="file"><a href='#this' name='file-delete'>삭제</a>-->
<!--                </div>-->
<!--            </div>-->

            <button class="btn btn-danger mt-3" type="submit">등록하기</button>
            <button class="btn btn-danger mt-3"
                    th:onclick="|location.href='@{/boards/freeBoard}'|"
                    type="button">취소
            </button>
        </div>
    </form>
</section>


<!--<script type="text/javascript">-->
<!--    $(document).ready(function() {-->
<!--        $("a[name='file-delete']").on("click", function(e) {-->
<!--            e.preventDefault();-->
<!--            deleteFile($(this));-->
<!--        });-->
<!--    })-->

<!--    function addFile() {-->
<!--        var str = "<div class='file-group'><input type='file' name='file'><a href='#this' name='file-delete'>삭제</a></div>";-->
<!--        $("#file-list").append(str);-->
<!--        $("a[name='file-delete']").on("click", function(e) {-->
<!--            e.preventDefault();-->
<!--            deleteFile($(this));-->
<!--        });-->
<!--    }-->

<!--    function deleteFile(obj) {-->
<!--        obj.parent().remove();-->
<!--    }-->
<!--</script>-->
</body>
</html>